<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="/assets/css/profile.css">
    <link rel="stylesheet" href="/assets/css/header_footer.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <section class="profile-info">
            <h1>Mon Profil</h1>
            <div class="avatar">
                <img src="<%= user.AvatarPath %>" alt="Avatar de <%= user.Username %>">
            </div>
            <div class="user-details">
                <p><strong>Nom d'utilisateur:</strong> <%= user.Username %></p>
                <p><strong>Email:</strong> <%= user.Email %></p>
                <p><strong>Bio:</strong> <%= user.Bio %></p>
            </div>
        </section>

        <section class="avatar-selection">
            <form action="/profile/avatar" method="post">
                <h3>Choisir un nouvel avatar :</h3>
                <div class="avatar-options">
                    <div>
                        <input type="radio" id="avatar1" name="avatar" value="/images/avatar1.jpg" <%= user.AvatarPath === '/images/avatar1.jpg' ? 'checked' : '' %>>
                        <label for="avatar1">
                            <img src="/images/avatar1.jpg" alt="Avatar 1">
                        </label>
                    </div>
                    <div>
                        <input type="radio" id="avatar2" name="avatar" value="/images/avatar2.jpg" <%= user.AvatarPath === '/images/avatar2.jpg' ? 'checked' : '' %>>
                        <label for="avatar2">
                            <img src="/images/avatar2.jpg" alt="Avatar 2">
                        </label>
                    </div>
                </div>
                <button type="submit">Mettre à jour l'avatar</button>
            </form>
        </section>

        <div class="start-discussion">
            <button onclick="location.href='/start-discussion'">Démarrer une discussion</button>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
